html {
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/img/batik3.jpg");
}

body {
  color: #ffbd69;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Sriracha", cursive, "Oswald", sans-serif;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 1s;
}

.nav a {
  display: block;
  padding: 20px 30px;
  font-size: 25px;
  text-decoration: none;
  color: #ccc;
}
.nav a:hover {
  color: #fff;
  transition: 1s;
}
.nav .close {
  position: absolute;
  top: 0;
  right: 22px;
  margin-left: 50px;
  font-size: 30px;
}
.slide a {
  color: #ffffff;
  font-size: 36px;
  margin: 10px;
}
#content {
  padding: 20px;
  transition: margin-left 1s;
  overflow: hidden;
  width: 100%;
}

header {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  z-index: -2;
}

header h1 {
  margin-top: -100px;
}

header h1 span {
  color: #f4f6ff;
}

header,
header:before {
  background: 50% 50% / cover;
}

header::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/img/background\ edit1.jpg");
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

header * {
  font-weight: normal;
  letter-spacing: o.2em;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

img {
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.card > div {
  padding: 2rem;
}

@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:800");

@media (max-width: 700px) {
  header {
    font-weight: lighter;
    font-size: 12px;
    color: #ffbd69;
  }

  header p {
    font-size: 17px;
  }

  .page {
    display: none;
  }
}
